html
  head
    script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
    script(type='text/javascript').
      google.charts.load('current', {'packages':['gauge', 'corechart', 'line']});
      google.charts.setOnLoadCallback(draw);
      function draw() {
        var moisture_data = google.visualization.arrayToDataTable(!{JSON.stringify(current_moisture)});
        var moisture_options = {
          width: 1000, height: 110,
          redFrom: 0, redTo: 20,
          yellowFrom: 20, yellowTo: 60
        };
        var gauges = new google.visualization.Gauge(document.getElementById('gauges'));
        gauges.draw(moisture_data, moisture_options);

        var data = new google.visualization.arrayToDataTable(!{JSON.stringify(history)});
        var options = {
        title: 'Moisture levels in last 6 hours',
          width: 900,
          height: 400,
          legend: { position: 'bottom' },
          vAxis: {
            title: 'Moisture level [%]',
            minValue: 0,
            maxValue: 100
          }
        };
        var chart = new google.visualization.LineChart(document.getElementById('moisturechart'));
        chart.draw(data, options);

        var temp_data = new google.visualization.DataTable();
        temp_data.addColumn('string', 'Time');
        temp_data.addColumn('number', "Temperature");
        temp_data.addColumn('number', "Humidity");
        temp_data.addRows(!{JSON.stringify(temp)});

        var temp_chart = new google.visualization.LineChart(document.getElementById('tempchart'));
        var temp_options = {
          title: 'Temperature and humidity in last 6 hours',
          width: 900,
          height: 400,
          // Gives each series an axis that matches the vAxes number below.
          series: {
            0: {targetAxisIndex: 0},
            1: {targetAxisIndex: 1}
          },
          vAxes: {
            // Adds titles to each axis.
            0: {title: 'Temperature (C)'},
            1: {title: 'Humidity'}
          }
        };
        temp_chart.draw(temp_data, temp_options);
      }
  body
    h2 herbs
    span Temperature:&nbsp;
      strong= current_temperature
        span &nbsp;&deg;C
      span &nbsp;| Humidity:&nbsp;
        strong= current_humidity
          span &nbsp;%
    br
    br
    div(id="gauges")
    div(id="moisturechart")
    div(id="tempchart")
